<h1>Agendamento</h1>

<form action="/tasks/add" method="POST">
<input type="hidden" name="id" value={{task.id}}>

  <div class="form-control">
    <label for="title">Título:</label>
    <input type="text" name="title" placeholder="Digite o titulo?">
  </div>

  <div class="form-control">
    <label for="data_inicio">Data e Hora Inicial:</label>
    <input type="datetime-local" name="data_inicio" placeholder="Digite a data e hora">
  </div>

  <div class="form-control">
    <label for="data_fim">Data e Hora Final:</label>
    <input type="datetime-local" name="data_fim" placeholder="Digite a data e hora">
  </div>

  <div class="form-control">
    <label for="descricao">Descrição:</label>
    <input type="text" name="descricao" placeholder="Digite a descrição">
  </div>

  <input type="submit" value="Criar">
</form>
